.conteudo {
    border: 1px solid black;
    padding: 20px;
    height: 500px;
    position: relative;
}

.quadrado {
    position: absolute;
    left: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    background: black;
    color: white;
    font-size: 12px;
}