* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: rgb(148,11,148);
    background: linear-gradient(175deg, rgba(148,11,148,1) 0%, rgba(56,3,56,1) 100%);
    color: white;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    margin: 10px 0;
}

h2 {
    letter-spacing: 2px;
    margin: 10px 0;
    font-weight: bold;
    font-style: italic;
}

.profile img {
    width: 100px;
    margin: 20px 0;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
    border-radius: 50%;
}

.profile {
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 20px 0;
}

.social img {
    width: 25px;
}

.insta {
    margin: 0 50px;
}

.links-list {
    list-style: none;
}

.links-list li {
    margin: 10px 20px;
}

.links-list li a {
    text-decoration: none;
    color:purple;
    background: white;
    display: block;
    margin: 15px 25px;
    padding: 25px;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: 0 0 10px white;
    
}

.links-list li a span {
    display: block;
    margin-top: 8px;
    color: gray;
}

footer {
    text-align: center;
    padding: 15px;
}