* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(171, 199, 216);
    color: white;
}

.header {
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0px 20px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 10px black;
}

.logo {
    letter-spacing: -3px;
    text-transform: lowercase;
    color: white;
}

.logo span:first-child{
    color: blue;
}

.logo span:last-child {
    font-size: 12px;
    letter-spacing: normal;
}

ul {
    list-style: none;
}

.menu {
    display: flex;
}

.menu li {
    position: relative;
}

.menu li a {
    padding: 17px;
    color: white;
    text-decoration: none;
    display: block;
}

.menu li:hover {
    background-color: blue;
}

.menu > li:hover > .submenu {
    display: block;
}

.menu li:hover > .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 52px;
    left: 0;
    background-color: blue;
    min-width: 110%;
}

.submenu li:hover {
    background-color: darkblue;
}

.submenu li {
    position: relative;
}

.submenu li .submenu {
    position: absolute;
    top: 0;
    left: 100%;
}



