body {
    background: url(https://cdn.pixabay.com/photo/2016/07/23/04/07/business-1536238__340.jpg);
    background-repeat: no-repeat;
}

ul {
    background: gray;
    padding: 10px;
    opacity: 0.5; /* vai do zero ao um, sendo 0 completamente transparente e 1 o normal. */
    /*display:none -> a lista some e nao ocupa espaço no documento
    visibility:hidden -> a lista some, no entanto o espaço dela continua ocupado no corpo da pagina. */
}

ul li {
    display: inline;
    margin: 20px;
    
    
}